<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/images/bootstrap.min.css" th:href="@{/images/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="header :: header"></header>
<div class="container mt-5">
    <h3 class="text-center">Лошади</h3>
    <table class="table table-bordered table-hover text-center" >
        <tr class="table-dark text-dark">
            <th>Id</th>
            <th>Масть</th>
            <th>Возраст</th>
            <th>Цена</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
            <tr th:each="horse : ${horses}">
                <td th:text="${horse.id}"></td>
                <td th:text="${horse.type}"></td>
                <td th:text="${horse.age}"></td>
                <td th:text="${horse.price}"></td>
                <td><a th:href="@{/update-horse/{id}(id=${horse.id})}">Изменить<a/></td>
                <td><a th:href="@{/all-horses/{id}(id=${horse.id})}">Удалить<a/></td>
            </tr>
    </table>
</div>
</body>
</html>