<div th:fragment="header">
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><img src="/images/logo.png" width="40px"></li>
            <li class="nav-item"><a href="@{/home.html}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/all-horses" class="nav-link">Список лошадей</a></li>
            <li class="nav-item"><a href="/create-horse" class="nav-link">Добавить лошадь</a></li>
        </ul>
    </header>
</div>
</div>
