<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/images/bootstrap.min.css" th:href="@{/images/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="header :: header"></header>
<div class="container mt-5" style="width: 500px">
    <h3 class="text-center">Изменение лошади</h3>
  <form th:method="POST" th:action="@{/update-horse}" th:object="${horse}">
      <input type="hidden" th:field="*{id}">
      <input type="text" th:field="*{type}" placeholder="${horse.type}" class="form-control"><br/>
      <input type="text" th:field="*{age}" placeholder="${horse.age}" class="form-control"><br/>
      <input type="text" th:field="*{price}" placeholder="${horse.price}" class="form-control"><br/>
      <button type="submit" class="btn btn-success">Изменить</button>
  </form>
</div>
</body>
</html>